### Arquivos JSON

Jay son, JSON! Temos que falar direito porque os freelas em dólar estão na área!

Vamos aprender um pouquinho sobre manipulação do mais que onipresente formato JSON. Arquivos de configuração, requisições e respostas de APIs  e tantas outras aplicações desse formatinho que praticamente acabou com o XML.

Nossa sorte é que o Python e o Pandas simplesmente AMAM esse formato, pois se parecem muito com os dicionários. Temos de graça, sem necessidade de pacotes adicionais, um bom arcabouço para ler, escrever e manipular esses tipos de arquivos. Uma referência ótima é a própria [documentação do Python](https://docs.python.org/3/library/json.html) Mas nosso foco aqui é Pandas! Então vamos manipular arquivos JSON com nosso pacote de manipulação favorito!

Então, chega de churumelas e vamos para algumas manipulações de arquivo json!

In [1]:
import pandas as pd
import json

## <a> Pandas </a> 

Uai, mas pandas não trabalha com dados tabulares??? Verdade, padawan! Mas a gente pode fazer algumas transformações pra deixar os dados tabulares, ou mesmo dizer para o pandas como a gente quer que ele interprete os dados estruturados.

No método read_json existe um parâmetro "orient" que possui as alternativas de valor:
- 'split' : dicionarios com formato {index -> [indice], columns -> [colunas], data -> [valores]}

- 'records' : listas com formato [{coluna -> valor}, ... , {coluna -> valor}]

- 'index' : dicionários com formato {indice -> {coluna -> valor}}

- 'columns' : dicionarios com formato {coluna -> {indice -> valor}}

- 'values' : um arranjo com valores

In [3]:
dicionario_com_valores = {
    "index": ["hamburguer","alface","queijo","molho especial", "cebola", "picles", "pão com gergelim"],
    "columns": ["qtd","calorias"],
    "data": [[2,120],[3,1],[1,100],[1,100], [1, 10], [3, 8], [2, 80]]
}

dicionario_com_valores

{'index': ['hamburguer',
  'alface',
  'queijo',
  'molho especial',
  'cebola',
  'picles',
  'pão com gergelim'],
 'columns': ['qtd', 'calorias'],
 'data': [[2, 120], [3, 1], [1, 100], [1, 100], [1, 10], [3, 8], [2, 80]]}

In [4]:
dicionario_com_valores.keys()

dict_keys(['index', 'columns', 'data'])

In [5]:
type(dicionario_com_valores)

dict

In [8]:
# Lê dict e transforma em string (str)
str_valores = json.dumps(dicionario_com_valores)

str_valores

'{"index": ["hamburguer", "alface", "queijo", "molho especial", "cebola", "picles", "p\\u00e3o com gergelim"], "columns": ["qtd", "calorias"], "data": [[2, 120], [3, 1], [1, 100], [1, 100], [1, 10], [3, 8], [2, 80]]}'

In [9]:
type(str_valores)

str

In [10]:
# Lê string e transforma em dict(json)
json.loads(str_valores)

{'index': ['hamburguer',
  'alface',
  'queijo',
  'molho especial',
  'cebola',
  'picles',
  'pão com gergelim'],
 'columns': ['qtd', 'calorias'],
 'data': [[2, 120], [3, 1], [1, 100], [1, 100], [1, 10], [3, 8], [2, 80]]}

In [11]:
# No split as chaves devem ter EXATAMENTE esses nomes: index, columns e data
# 'split' : dicionarios com formato {index -> [indice], columns -> [colunas], data -> [valores]}
str_json_split = json.dumps({
    "index": ["hamburguer","alface","queijo","molho especial", "cebola", "picles", "pão com gergelim"],
    "columns": ["qtd","calorias"],
    "data": [[2,120],[3,1],[1,100],[1,100], [1, 10], [3, 8], [2, 80]]
})

str_json_split

'{"index": ["hamburguer", "alface", "queijo", "molho especial", "cebola", "picles", "p\\u00e3o com gergelim"], "columns": ["qtd", "calorias"], "data": [[2, 120], [3, 1], [1, 100], [1, 100], [1, 10], [3, 8], [2, 80]]}'

In [12]:
# orient é o parâmetro de como o pandas deve tratar os dados que estamos passando
# para ele!
# Com o orient split o pandas espera três chaves! index, columns, data
pd.read_json(str_json_split, orient = 'split')

C:\Users\leons\AppData\Local\Temp\ipykernel_25532\4138164170.py:4: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(str_json_split, orient = 'split')

                  qtd  calorias
hamburguer          2       120
alface              3         1
queijo              1       100
molho especial      1       100
cebola              1        10
picles              3         8
pão com gergelim    2        80

In [13]:
# 'records' : listas com formato [{coluna -> valor}, ... , {coluna -> valor}]

json_record = json.dumps([
    {"ingrediente":"hamburguer","qtd":2,"calorias":120},
    {"ingrediente":"alface","qtd":3,"calorias":1},
    {"ingrediente":"queijo","qtd":1,"calorias":100},
    {"ingrediente":"molho especial","qtd":1,"calorias":100}
])

json_record

'[{"ingrediente": "hamburguer", "qtd": 2, "calorias": 120}, {"ingrediente": "alface", "qtd": 3, "calorias": 1}, {"ingrediente": "queijo", "qtd": 1, "calorias": 100}, {"ingrediente": "molho especial", "qtd": 1, "calorias": 100}]'

In [16]:
pd.read_json(json_record, orient = 'records')

C:\Users\leons\AppData\Local\Temp\ipykernel_25532\1515266378.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(json_record, orient = 'records')

      ingrediente  qtd  calorias
0      hamburguer    2       120
1          alface    3         1
2          queijo    1       100
3  molho especial    1       100

In [17]:
# 'index' : dicionários com formato {indice -> {coluna -> valor}}
# chave é o índice e valor são as colunas com os dados!

json_index = json.dumps({
    "hamburguer": {
        "qtd": 5, 
        "calorias": 20
        },
    "alface": {
        "qtd": 8, 
        "calorias": 30
        },
    "queijo": {
        "qtd": 2, 
        "calorias": 120
        },
    "molho especial": {
        "qtd": 4, 
        "calorias": 16
        }

})

json_index

'{"hamburguer": {"qtd": 5, "calorias": 20}, "alface": {"qtd": 8, "calorias": 30}, "queijo": {"qtd": 2, "calorias": 120}, "molho especial": {"qtd": 4, "calorias": 16}}'

In [18]:
pd.read_json(json_index, orient = 'index')

C:\Users\leons\AppData\Local\Temp\ipykernel_25532\519281642.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(json_index, orient = 'index')

                qtd  calorias
hamburguer        5        20
alface            8        30
queijo            2       120
molho especial    4        16

In [19]:
# 'columns' : dicionarios com formato {coluna -> {indice -> valor}}
# Aqui a chave é a COLUNA e os valores são pares indice_pandas:valor_coluna

json_columns = json.dumps({
    "qtd": {
        "hamburguer": 2,
        "alface": 1,
        "queijo": 1,
        "molho especial": 1
    },
    "calorias": {
        "hamburguer": 120,
        "alface": 1,
        "queijo": 100,
        "molho especial": 100
    }
})

json_columns

'{"qtd": {"hamburguer": 2, "alface": 1, "queijo": 1, "molho especial": 1}, "calorias": {"hamburguer": 120, "alface": 1, "queijo": 100, "molho especial": 100}}'

In [20]:
pd.read_json(json_columns, orient = 'columns')

C:\Users\leons\AppData\Local\Temp\ipykernel_25532\3260210209.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(json_columns, orient = 'columns')

                qtd  calorias
hamburguer        2       120
alface            1         1
queijo            1       100
molho especial    1       100

In [21]:
# 'values' : um arranjo com valores

json_values = json.dumps([
    ["hamburguer", 2, 120],
    ["alface", 1, 1],
    ["queijo", 1,100],
    ["molho especial", 1, 100]

])

json_values

'[["hamburguer", 2, 120], ["alface", 1, 1], ["queijo", 1, 100], ["molho especial", 1, 100]]'

In [22]:
pd.read_json(json_values, orient = 'values')

C:\Users\leons\AppData\Local\Temp\ipykernel_25532\3973297428.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(json_values, orient = 'values')

                0  1    2
0      hamburguer  2  120
1          alface  1    1
2          queijo  1  100
3  molho especial  1  100

#### <a> E para estruturas complexas? </a>

E o nosso arquivo??? Ele não parece ser de nenhum tipo porque tem uma estrutura muito "aninhada"

Para ele precisamos de algo mais "elaborado"

### <a> "Achatando" um json  </a>

Uma forma legal de trabalhar com dados mais aninhados é utilizar o json_normalize do pandas.

Uma forma legal de entender como normalizar (achatar) o json é pensar ANTES como queremos o resultado.

No caso das bandas, faz sentido ter uma linha para cada música, com as colunas para os nomes das bandas e dos álbuns. Sabendo que o nível mais "profundo" que queremos ir, fica mais fácil. Bora nessa!

In [23]:
# Vamos recuperar a estrutura de bandas original
with open('./data/bands.json') as arquivo_json:
    objeto_json = json.load(arquivo_json)

objeto_json

[{'name': 'Radiohead',
  'albums': [{'title': 'The King of Limbs',
    'songs': [{'title': 'Bloom', 'length': '5:15'},
     {'title': 'Morning Mr Magpie', 'length': '4:41'},
     {'title': 'Little by Little', 'length': '4:27'},
     {'title': 'Feral', 'length': '3:13'},
     {'title': 'Lotus Flower', 'length': '5:01'},
     {'title': 'Codex', 'length': '4:47'},
     {'title': 'Give Up the Ghost', 'length': '4:50'},
     {'title': 'Separator', 'length': '5:20'}],
    'description': '\n\tThe King of Limbs is the eighth studio album by English rock band Radiohead, produced by Nigel Godrich. It was self-released on 18 February 2011 as a download in MP3 and WAV formats, followed by physical CD and 12" vinyl releases on 28 March, a wider digital release via AWAL, and a special "newspaper" edition on 9 May 2011. The physical editions were released through the band\'s Ticker Tape imprint on XL in the United Kingdom, TBD in the United States, and Hostess Entertainment in Japan.\n      '},
   {'title': 'OK Computer',
    'songs': [{'title': 'Airbag', 'length': '4:44'},
     {'title': 'Paranoid Android', 'length': '6:23'},
     {'title': 'Subterranean Homesick Alien', 'length': '4:27'},
     {'title': 'Exit Music (For a Film)', 'length': '4:24'},
     {'title': 'Let Down', 'length': '4:59'},
     {'title': 'Karma Police', 'length': '4:21'},
     {'title': 'Fitter Happier', 'length': '1:57'},
     {'title': 'Electioneering', 'length': '3:50'},
     {'title': 'Climbing Up the Walls', 'length': '4:45'},
     {'title': 'No Surprises', 'length': '3:48'},
     {'title': 'Lucky', 'length': '4:19'},
     {'title': 'The Tourist', 'length': '5:24'}],
    'description': "\n\tOK Computer is the third studio album by the English alternative rock band Radiohead, released on 16 June 1997 on Parlophone in the United Kingdom and 1 July 1997 by Capitol Records in the United States. It marks a deliberate attempt by the band to move away from the introspective guitar-oriented sound of their previous album The Bends. Its layered sound and wide range of influences set it apart from many of the Britpop and alternative rock bands popular at the time and laid the groundwork for Radiohead's later, more experimental work.\n      "}]},
 {'name': 'Portishead',
  'albums': [{'title': 'Dummy',
    'songs': [{'title': 'Mysterons', 'length': '5:02'},
     {'title': 'Sour Times', 'length': '4:11'},
     {'title': 'Strangers', 'length': '3:55'},
     {'title': 'It Could Be Sweet', 'length': '4:16'},
     {'title': 'Wandering Star', 'length': '4:51'},
     {'title': "It's a Fire", 'length': '3:49'},
     {'title': 'Numb', 'length': '3:54'},
     {'title': 'Roads', 'length': '5:02'},
     {'title': 'Pedestal', 'length': '3:39'},
     {'title': 'Biscuit', 'length': '5:01'},
     {'title': 'Glory Box', 'length': '5:06'}],
    'description': '\n\tDummy is the debut album of the Bristol-based group Portishead. Released in August 22, 1994 on Go! Discs, the album earned critical acclaim, winning the 1995 Mercury Music Prize. It is often credited with popularizing the trip-hop genre and is frequently cited in lists of the best albums of the 1990s. Although it achieved modest chart success overseas, it peaked at #2 on the UK Album Chart and saw two of its three singles reach #13. The album was certified gold in 1997 and has sold two million copies in Europe. As of September 2011, the album was certified double-platinum in the United Kingdom and has sold as of September 2011 825,000 copies.\n      '},
   {'title': 'Third',
    'songs': [{'title': 'Silence', 'length': '4:58'},
     {'title': 'Hunter', 'length': '3:57'},
     {'title': 'Nylon Smile', 'length': '3:16'},
     {'title': 'The Rip', 'length': '4:29'},
     {'title': 'Plastic', 'length': '3:27'},
     {'title': 'We Carry On', 'length': '6:27'},
     {'title': 'Deep Water', 'length': '1:31'},
     {'title': 'Machine Gun', 'length': '4:43'},
     {'title': 'Small', 'length': '6:45'},
     {'title': 'Magic Doors', 'length': '3:32'},
     {'title': 'Threads', 'length': '5:45'}],
    'description': "\n\tThird is the third studio album by English musical group Portishead, released on 27 April 2008, on Island Records in the United Kingdom, two days after on Mercury Records in the United States, and on 30 April 2008 on Universal Music Japan in Japan. It is their first release in 10 years, and their first studio album in eleven years. Third entered the UK Album Chart at #2, and became the band's first-ever American Top 10 album on the Billboard 200, reaching #7 in its entry week.\n      "}]}]

In [25]:
df = pd.json_normalize(objeto_json, record_path=['albums', 'songs'], meta=['name', ['albums', 'title']])

df

                          title length        name       albums.title
0                         Bloom   5:15   Radiohead  The King of Limbs
1             Morning Mr Magpie   4:41   Radiohead  The King of Limbs
2              Little by Little   4:27   Radiohead  The King of Limbs
3                         Feral   3:13   Radiohead  The King of Limbs
4                  Lotus Flower   5:01   Radiohead  The King of Limbs
5                         Codex   4:47   Radiohead  The King of Limbs
6             Give Up the Ghost   4:50   Radiohead  The King of Limbs
7                     Separator   5:20   Radiohead  The King of Limbs
8                        Airbag   4:44   Radiohead        OK Computer
9              Paranoid Android   6:23   Radiohead        OK Computer
10  Subterranean Homesick Alien   4:27   Radiohead        OK Computer
11      Exit Music (For a Film)   4:24   Radiohead        OK Computer
12                     Let Down   4:59   Radiohead        OK Computer
13                 Karma Police   4:21   Radiohead        OK Computer
14               Fitter Happier   1:57   Radiohead        OK Computer
15               Electioneering   3:50   Radiohead        OK Computer
16        Climbing Up the Walls   4:45   Radiohead        OK Computer
17                 No Surprises   3:48   Radiohead        OK Computer
18                        Lucky   4:19   Radiohead        OK Computer
19                  The Tourist   5:24   Radiohead        OK Computer
20                    Mysterons   5:02  Portishead              Dummy
21                   Sour Times   4:11  Portishead              Dummy
22                    Strangers   3:55  Portishead              Dummy
23            It Could Be Sweet   4:16  Portishead              Dummy
24               Wandering Star   4:51  Portishead              Dummy
25                  It's a Fire   3:49  Portishead              Dummy
26                         Numb   3:54  Portishead              Dummy
27                        Roads   5:02  Portishead              Dummy
28                     Pedestal   3:39  Portishead              Dummy
29                      Biscuit   5:01  Portishead              Dummy
30                    Glory Box   5:06  Portishead              Dummy
31                      Silence   4:58  Portishead              Third
32                       Hunter   3:57  Portishead              Third
33                  Nylon Smile   3:16  Portishead              Third
34                      The Rip   4:29  Portishead              Third
35                      Plastic   3:27  Portishead              Third
36                  We Carry On   6:27  Portishead              Third
37                   Deep Water   1:31  Portishead              Third
38                  Machine Gun   4:43  Portishead              Third
39                        Small   6:45  Portishead              Third
40                  Magic Doors   3:32  Portishead              Third
41                      Threads   5:45  Portishead              Third