# Aula Prática: Escrita de Arquivos Excel com Pandas

In [ ]:
# Instalar o pacote necessário
#!pip install pandas openpyxl

In [1]:
import pandas as pd

# Suponha que temos dois DataFrames, df1 e df2
df1 = pd.DataFrame({
    'Nome': ['Fernanda Pereira', 'João Almeida', 'Carlos Silva', 'Leon Sólon'],
    'Idade': [54, 37, 51, 43],
    'Saldo': [3182.61, 4697.22, 3554.69, -1872.05]
})

df1

               Nome  Idade    Saldo
0  Fernanda Pereira     54  3182.61
1      João Almeida     37  4697.22
2      Carlos Silva     51  3554.69
3        Leon Sólon     43 -1872.05

In [2]:
df2 = pd.DataFrame({
    'Produto': ['sapato', 'sandália', 'tênis'],
    'Preço': [327.90, 129.90, 259.90]
})

df2

    Produto  Preço
0    sapato  327.9
1  sandália  129.9
2     tênis  259.9

In [3]:
# Escrevendo um único DataFrame em um arquivo Excel
df1.to_excel('./data/novo_arquivo_com_indice.xlsx', sheet_name='Planilha 1')

In [4]:
# Escrevendo um único DataFrame em um arquivo Excel, sem incluir o índice
df1.to_excel('./data/novo_arquivo.xlsx', sheet_name='Planilha 1', index=False)

In [5]:
# Escrevendo um único DataFrame em um arquivo Excel, sem incluir o índice
# Com nome de planilha diferente
df1.to_excel('./data/novo_arquivo_com_nome_planilha.xlsx', sheet_name='Clientes', index=False)

In [6]:
# Usando ExcelWriter para escrever múltiplos DataFrames em um único arquivo Excel
with pd.ExcelWriter('./data/novo_com_duas_planilhas.xlsx') as writer:
    # Escrevendo o primeiro DataFrame em uma aba com formatação extra
    df1.to_excel(
        writer,
        sheet_name='Clientes',
        index=False,
    )
    
    # Escrevendo o segundo DataFrame em outra aba, incluindo o índice e sem cabeçalho
    df2.to_excel(
        writer,
        sheet_name='Produtos',
        index=False
    )

In [7]:
# Carregar o dataset Iris
iris_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None, names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
iris_data['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
# Escrever diferentes partes do DataFrame em diferentes abas
with pd.ExcelWriter('./data/iris.xlsx') as writer:
    iris_data.loc[iris_data['class'] == 'Iris-setosa'].to_excel(writer, sheet_name='Setosa', index=False)
    iris_data.loc[iris_data['class'] == 'Iris-versicolor'].to_excel(writer, sheet_name='Versicolor', index=False)
    iris_data.loc[iris_data['class'] == 'Iris-virginica'].to_excel(writer, sheet_name='Virginica', index=False)