In [39]:
import pandas as pd

# Carregar o CSV a partir do URL
df = pd.read_csv("https://raw.githubusercontent.com/nicolasSilvaBR/Ireland-Recorded-Crime-Incidents-2023Q1-2024Q2/refs/heads/main/data/CJQ06.20241002T201044.csv")

In [40]:
# Exibir as colunas do DataFrame
print("Colunas do DataFrame:")
print(df.columns)

Colunas do DataFrame:
Index(['STATISTIC Label', 'Quarter', 'Garda Division', 'Type of Offence',
       'UNIT', 'VALUE'],
      dtype='object')

In [41]:
# Exibir o índice do DataFrame
print("\nÍndice do DataFrame:")
print(df.index)

Índice do DataFrame:
RangeIndex(start=0, stop=170968, step=1)

In [42]:
# Exibir a primeira linha em formato de tabela
df.head(1)

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
0,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Homicide offences,Number,1.0

In [43]:
# Exibir a última linha em formato de tabela
df.tail(1)

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
170967,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,"Offences while in custody, breach of court orders",Number,296.0

In [ ]:
df['Quarter']

In [ ]:
df.shape

(170968, 6)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170968 entries, 0 to 170967
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATISTIC Label  170968 non-null  object
 1   Quarter          170968 non-null  object
 2   Garda Division   170968 non-null  object
 3   Type of Offence  170968 non-null  object
 4   UNIT             170968 non-null  object
 5   VALUE            169194 non-null  float64
dtypes: float64(1), object(5)
memory usage: 7.8+ MB

In [52]:
df.head()

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
0,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Homicide offences,Number,1.0
1,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Murder,Number,0.0
2,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Manslaughter,Number,0.0
3,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Infanticide,Number,0.0
4,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Dangerous driving leading to death,Number,1.0

In [102]:
selected_columns = df[['Quarter','Garda Division','Type of Offence','VALUE']]
renamed_df = selected_columns.rename(columns = {'Garda Division':'Local','VALUE':'Count'})
renamed_df.head()

,Quarter,Local,Type of Offence,Count
0,2003Q1,Cavan/Monaghan Garda Division,Homicide offences,1.0
1,2003Q1,Cavan/Monaghan Garda Division,Murder,0.0
2,2003Q1,Cavan/Monaghan Garda Division,Manslaughter,0.0
3,2003Q1,Cavan/Monaghan Garda Division,Infanticide,0.0
4,2003Q1,Cavan/Monaghan Garda Division,Dangerous driving leading to death,1.0

In [109]:
# Dividir a coluna 'Garda Division' com base na string ' Garda Division'
renamed_df['Local'].str.split('Garda Division',1,expand=True )

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given