In [10]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nicolasSilvaBR/Ireland-Recorded-Crime-Incidents-2023Q1-2024Q2/refs/heads/main/data/CJQ06.20241002T201044.csv')

df = pd.DataFrame(data=df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170968 entries, 0 to 170967
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATISTIC Label  170968 non-null  object
 1   Quarter          170968 non-null  object
 2   Garda Division   170968 non-null  object
 3   Type of Offence  170968 non-null  object
 4   UNIT             170968 non-null  object
 5   VALUE            169194 non-null  float64
dtypes: float64(1), object(5)
memory usage: 7.8+ MB

In [14]:
df.shape

(170968, 6)

In [30]:
df.head()

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
0,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Homicide offences,Number,1.0
1,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Murder,Number,0.0
2,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Manslaughter,Number,0.0
3,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Infanticide,Number,0.0
4,Recorded crime incidents,2003Q1,Cavan/Monaghan Garda Division,Dangerous driving leading to death,Number,1.0

LOC and ILOC

In [23]:
df[['Quarter']]

       Quarter
0       2003Q1
1       2003Q1
2       2003Q1
3       2003Q1
4       2003Q1
...        ...
170963  2024Q2
170964  2024Q2
170965  2024Q2
170966  2024Q2
170967  2024Q2

[170968 rows x 1 columns]

In [25]:
df.Quarter

0         2003Q1
1         2003Q1
2         2003Q1
3         2003Q1
4         2003Q1
           ...
170963    2024Q2
170964    2024Q2
170965    2024Q2
170966    2024Q2
170967    2024Q2
Name: Quarter, Length: 170968, dtype: object

In [28]:
df.loc[0]

STATISTIC Label         Recorded crime incidents
Quarter                                   2003Q1
Garda Division     Cavan/Monaghan Garda Division
Type of Offence                Homicide offences
UNIT                                      Number
VALUE                                        1.0
Name: 0, dtype: object

In [31]:
df.loc[1]

STATISTIC Label         Recorded crime incidents
Quarter                                   2003Q1
Garda Division     Cavan/Monaghan Garda Division
Type of Offence                           Murder
UNIT                                      Number
VALUE                                        0.0
Name: 1, dtype: object

In [33]:
df.iloc[1]

STATISTIC Label         Recorded crime incidents
Quarter                                   2003Q1
Garda Division     Cavan/Monaghan Garda Division
Type of Offence                           Murder
UNIT                                      Number
VALUE                                        0.0
Name: 1, dtype: object

In [51]:
df.tail()

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
170963,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,"Offences against government, justice procedure...",Number,299.0
170964,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,Offences against government and its agents,Number,1.0
170965,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,Organisation of crime and conspiracy to commit...,Number,2.0
170966,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,Perverting the course of justice,Number,NaN
170967,Recorded crime incidents,2024Q2,D.M.R. Western Garda Division,"Offences while in custody, breach of court orders",Number,296.0

In [63]:
df.loc[
    ( df['Type of Offence'] == 'Murder' ) & (df['VALUE']>0) & ( (df['Quarter'] == '2024Q2' )  | (df['Quarter'] == '2024Q1' ) )
    ,['Quarter','Garda Division','Type of Offence','VALUE' ]
]

       Quarter                       Garda Division Type of Offence  VALUE
167561  2024Q1             Cork City Garda Division          Murder    1.0
167632  2024Q1            Cork North Garda Division          Murder    1.0
167703  2024Q1             Cork West Garda Division          Murder    1.0
167774  2024Q1                 Kerry Garda Division          Murder    1.0
168200  2024Q1               Kildare Garda Division          Murder    1.0
168484  2024Q1             Waterford Garda Division          Murder    1.0
168555  2024Q1  D.M.R. South Central Garda Division          Murder    1.0
168768  2024Q1       D.M.R. Southern Garda Division          Murder    1.0
168910  2024Q1        D.M.R. Western Garda Division          Murder    1.0
169194  2024Q2                 Louth Garda Division          Murder    1.0
169762  2024Q2                 Kerry Garda Division          Murder    2.0
170188  2024Q2               Kildare Garda Division          Murder    2.0
170401  2024Q2       Kilkenny/Carlow Garda Division          Murder    1.0
170614  2024Q2  D.M.R. North Central Garda Division          Murder    1.0
170756  2024Q2       D.M.R. Southern Garda Division          Murder    1.0
170898  2024Q2        D.M.R. Western Garda Division          Murder    2.0