In [148]:
import pandas as pd # type: ignore
df = pd.read_csv('https://raw.githubusercontent.com/nicolasSilvaBR/Ireland-Recorded-Crime-Incidents-2023Q1-2024Q2/refs/heads/main/data/CJQ06.20241002T201044.csv')
df = pd.DataFrame(data=df)

LOC and ILOC

In [149]:
# This code is used to read the data from the csv file and display the top 10 crimes in Ireland in 2023-2024.
# The data is from the Irish Crime Survey (ICS) and can be downloaded from https://www.icscr.ie/data-and-analysis/crime-data/icscr-crime-data-download/
# Renaming the columns to match the required format.
# Selecting only the required columns and displaying the top 10 crimes in Ireland in 2023-2024.
df = df.rename(columns={'VALUE':'Count','Quarter':'Quarter','Garda Division':'Local','Type of Offence':'Crime'})
df = df[['Quarter','Local','Crime','Count']].sort_values(by='Quarter',ascending=False)

In [150]:
# Spliting the Quarter '2003Q1' into '2003' and 'Q1'
df

,Quarter,Local,Crime,Count
170967,2024Q2,D.M.R. Western Garda Division,"Offences while in custody, breach of court orders",296.0
169646,2024Q2,Cork North Garda Division,"Robbery, extortion and hijacking offences",10.0
169633,2024Q2,Cork North Garda Division,Dangerous or negligent acts,81.0
169634,2024Q2,Cork North Garda Division,Dangerous driving causing serious bodily harm,NaN
169635,2024Q2,Cork North Garda Division,Driving/in charge of a vehicle while over lega...,52.0
...,...,...,...,...
1331,2003Q1,Tipperary Garda Division,Offensive weapons offences (n.e.c.),10.0
1332,2003Q1,Tipperary Garda Division,Fireworks offences,0.0
1333,2003Q1,Tipperary Garda Division,Damage to property and to the environment,182.0
1334,2003Q1,Tipperary Garda Division,Arson,8.0
0,2003Q1,Cavan/Monaghan Garda Division,Homicide offences,1.0

In [151]:
# Extracting the year from the Quarter column
df['Year'] = df['Quarter'].str[:4]

In [152]:
df['Q'] = df['Quarter'].str[4:]

In [158]:
# Extracting the local from the local column
df['Garda Division'] = df['Local'].str.extract(r'(.*) Garda Division', expand=False)

In [164]:
df[['Quarter','Year','Q','Garda Division','Crime','Count']]

,Quarter,Year,Q,Garda Division,Crime,Count
170967,2024Q2,2024,Q2,D.M.R. Western,"Offences while in custody, breach of court orders",296.0
169646,2024Q2,2024,Q2,Cork North,"Robbery, extortion and hijacking offences",10.0
169633,2024Q2,2024,Q2,Cork North,Dangerous or negligent acts,81.0
169634,2024Q2,2024,Q2,Cork North,Dangerous driving causing serious bodily harm,NaN
169635,2024Q2,2024,Q2,Cork North,Driving/in charge of a vehicle while over lega...,52.0
...,...,...,...,...,...,...
1331,2003Q1,2003,Q1,Tipperary,Offensive weapons offences (n.e.c.),10.0
1332,2003Q1,2003,Q1,Tipperary,Fireworks offences,0.0
1333,2003Q1,2003,Q1,Tipperary,Damage to property and to the environment,182.0
1334,2003Q1,2003,Q1,Tipperary,Arson,8.0
0,2003Q1,2003,Q1,Cavan/Monaghan,Homicide offences,1.0